<ion-content [fullscreen]="true">
  <form [formGroup]="recuperarForm" (ngSubmit)="onSubmit()" class="form">

    <!-- EMAIL -->
    <ion-input
      type="email"
      placeholder="usuario@correo.com"
      formControlName="email"
      inputmode="email"
      autocomplete="email"
      autocapitalize="off"
      [clearInput]="true">
    </ion-input>
    <ion-text color="danger" *ngIf="emailCtrl?.touched && emailCtrl?.invalid">
      <ng-container *ngIf="emailCtrl?.errors?.['required']">
        El correo es obligatorio.
      </ng-container>
      <ng-container *ngIf="emailCtrl?.errors?.['email']">
        Ingresa un correo válido (usuario@dominio.com).
      </ng-container>
    </ion-text>


    <div class="mt-3">
      <ion-button  shape="round" expand="block" type="submit" [disabled]="recuperarForm.invalid">
        Recuperar
      </ion-button>
      <ion-button [routerLink]="['/registro']" shape="round" expand="block" type="button" >
        Registrarse
      </ion-button>
    </div>
  </form>
</ion-content>

<ion-toast
  [isOpen]="isToastOpen"
  [duration]="2000"
  [message]="toastMessage"
  (didDismiss)="isToastOpen = false">
</ion-toast>


