:root {
  --ion-color-primary: #1E3A8A;
  --ion-color-primary-rgb: 30, 58, 138;

  --ion-color-secondary: #E5E7EB;
  --ion-color-secondary-rgb: 229, 231, 235;

  --ion-color-success: #16A34A;
  --ion-color-success-rgb: 22, 163, 74;

  --ion-color-warning: #FACC15;
  --ion-color-warning-rgb: 250, 204, 21;

  --ion-color-danger: #DC2626;
  --ion-color-danger-rgb: 220, 38, 38;

  --ion-background-color: #F9FAFB;
  --ion-text-color: #374151;
}


@media (prefers-color-scheme: dark) {
  :root {
    --ion-text-color: #e5e7eb;
    --ion-background-color: #0b1220;
    --border: #1f2937;
  }
}

/* Tipografía base sobria */
body {
  font-family: var(--font);
  color: var(--ion-text-color);
  background: var(--ion-background-color);
}

/* Botón austero (sin sombras ni mayúsculas forzadas) */
ion-button {
  --border-radius: var(--radius);
  --padding-start: 14px;
  --padding-end: 14px;
  --text-transform: none;
  height: var(--input-h);
}

