<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">

    <!-- EMAIL -->
    <ion-input
      type="email"
      placeholder="usuario@correo.com"
      formControlName="email"
      inputmode="email"
      autocomplete="email"
      autocapitalize="off"
      [clearInput]="true">
    </ion-input>
    <ion-text color="danger" *ngIf="emailCtrl?.touched && emailCtrl?.invalid">
      <ng-container *ngIf="emailCtrl?.errors?.['required']">
        El correo es obligatorio.
      </ng-container>
      <ng-container *ngIf="emailCtrl?.errors?.['email']">
        Ingresa un correo válido (usuario@dominio.com).
      </ng-container>
    </ion-text>

    <!-- PASSWORD -->
    <ion-input
      type="password"
      placeholder="**********"
      formControlName="password"
      autocomplete="current-password"
      [clearInput]="true">
    </ion-input>
    <ion-text color="danger" *ngIf="passwordCtrl?.touched && passwordCtrl?.invalid">
      <ng-container *ngIf="passwordCtrl?.errors?.['required']">
        La contraseña es obligatoria.
      </ng-container>
      <ng-container *ngIf="passwordCtrl?.errors?.['minlength']">
        Debe tener al menos 6 caracteres.
      </ng-container>
      <ng-container *ngIf="passwordCtrl?.errors?.['maxlength']">
        No puede exceder 12 caracteres.
      </ng-container>
    </ion-text>

    <div class="mt-3">
      <ion-button shape="round" expand="block" type="submit" [disabled]="loginForm.invalid">
        Entrar
      </ion-button>

      <a [routerLink]="['/recuperar-password']">Recuperar contraseña</a>

      <ion-button [routerLink]="['/registro']" shape="round" expand="block" type="button">
        Registrarse
      </ion-button>
    </div>
  </form>
</ion-content>
<ion-toast
  [isOpen]="isToastOpen"
  [message]="toastMessage"
  [duration]="toastDuration"
  (didDismiss)="isToastOpen = false">
</ion-toast>

<!-- Quita el loading si no lo usarás aun, o agrega un disparador con id="open-loading" -->
<!-- <ion-loading trigger="open-loading" message="Cargando..." duration="2000"></ion-loading> -->
